@model ClothingBoutique.Models.ItemModel
<div class="card" style="width: 18rem;">
    @if(@Model.featured == true)
    {
        <div class="card-header bg-primary text-white">
            Featured
        </div>
    }
  <ul class="list-group list-group-flush">
    <li class="list-group-item">@Model.itemName</li>
    <li class="list-group-item">Category : @Model.itemCategory</li>
    <li class="list-group-item">$@Model.price</li>
    @if(@Model.inStock == true)
    {
        <li class="list-group-item">Item in is stock</li>
    }
  </ul>
</div>