@model ClothingBoutique.Models.ItemModel

<h1>Add An Item to the Catalog</h1>

@using (@Html.BeginForm("Add", "Item"))
{
  <partial name = "_formBody" model = "@Model"/>  
  <button type="submit">Submit</button>
}
