@model ClothingBoutique.Models.ItemModel
<h1>Item #@Model.id</h1>

<partial name = "_itemDetail" model = "@Model"/>

<a asp-area = "" asp-action = "Edit" asp-route-itemID = "@Model.id">
    <button class="btn btn-warning">Edit</button>
</a>

<a asp-area = "" asp-action = "Confirmation" asp-route-itemID = "@Model.id">
    <button class="btn btn-danger">Delete</button>
</a>